BiztalkEnchereOrchestration/Web References/WebServiceEnchere/Reference.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://BiztalkEnchereSchemas.DemandeCreationEnchere" elementFormDefault="qualified" targetNamespace="http://BiztalkEnchereSchemas.DemandeCreationEnchere" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DemandeCreationEnchere" nillable="true" type="tns:DemandeCreationEnchere" />
  <xs:complexType name="DemandeCreationEnchere">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdUtilisateur_Vendeur" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="NomEnchere" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrixMinimum" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="OptionTransport" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Duree" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TypeEnchere" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Categorie" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MotsCles" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutresInformations" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>