BiztalkEnchereOrchestration/Web References/WebServiceEnchere/Reference1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://BiztalkEnchereSchemas.Encherissement" elementFormDefault="qualified" targetNamespace="http://BiztalkEnchereSchemas.Encherissement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Encherissement" nillable="true" type="tns:Encherissement" />
  <xs:complexType name="Encherissement">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdUtilisateur_Encherisseur" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdEnchere" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OffreMaximale" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>